<footer  class="w3-center w3-black w3-padding-16">

  <p><a href="{{ site.instagram_page }}"><i class="fab fa-instagram"></i> {{site.instagram_username}}</a></p>
    <p><a href="{{ site.etsy_page }}"><i class="fab fa-etsy"></i> {{site.title}} on <i>Etsy</i></a></p>

  <p>
    &copy; 2024 {{ site.title }} by <a class="brand-chill" href="https://www.chillcoding.com/">CHILL<span class="brand-coding">c<span class="brand-o">o</span>ding</span></a>
  </p>
</footer>
