  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="{{ "/" | relative_url }}" class="w3-bar-item w3-button"><b>PampArt</b> Cannes </a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="{{ "/plante" | relative_url }}" class="w3-bar-item w3-button">PLANTE</a>
        <a href="{{ "/coquillage" | relative_url }}" class="w3-bar-item w3-button">COQUILLAGE</a>
        <a href="{{ "/magique" | relative_url }}" class="w3-bar-item w3-button">MAGIQUE</a>
      </div>
    </div>
  </div>
