<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="is-preload">

    {%- include header.html -%}

    <div class="w3-container w3-padding-32">

        {{  content }}
        
    </div>

    {%- include footer.html -%}

  </div>

</body>

</html>
